<h1>Registration</h1>

<form method="post">

    <div>
        <label>Name</label>
        <input type="text" value="@Model.Name" name="Name" placeholder="Full Name" />
        <span class="text-danger">@Html.ValidationMessage("Name")</span>
    </div>

    <div>
        <label>Email</label>
        <input type="email" value="@Model.Email" name="Email" placeholder="you@mail.com" />
        <span class="text-danger">@Html.ValidationMessage("Email")</span>
    </div>

    <div>
        <label>Password</label>
        <input type="password" value="@Model.Password" name="Password" placeholder="Password" />
        <span class="text-danger">@Html.ValidationMessage("Password")</span>
    </div>

    <input type="submit" value="Submit" class="btn btn-success" />

</form>